
body{
  margin: 0;
}

.navbar {
  width: 548px;
  height: 112px;
  padding: 0px;  
  gap: 0px;
  opacity: 0px;
  background-color: #FFF7ED;
  display: flex;
  flex-direction: row;  
  align-items:center;
  color: #000000;
  justify-content: space-between;
  
  }

   /*36px 25.82px 34.62px 26px;*/


.navbar--h2{
  display: flex;
  flex-direction: row;
  align-items:center;
  color: #000000;
  gap: 35px !important;
  padding-right: 26px;
  
  
}

.h2--about{
  /* About */

/*position: absolute;*/
/*width: 51.83px;*/
height: 22.92px;
/*left: 405.73px;*/
/*top: 45.12px;*/
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 143% */
text-align: right;
text-decoration-line: underline;
color: #161616;
align-self: center;




 
  
}
.navbar--h1{
  align-self: flex-start;
  font-family: Inter;
  font-size: 25px;
  font-weight: 900;
  line-height: 40.27px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #000000;
  width: 144.51px;
  height: 41px;
  top: 36px;
  padding-left: 26px;
  gap: 0px;
  opacity: 0px;

  
 
}

.navbar a {
  text-decoration: none;
  color: inherit; /* Keeps the text color consistent with the theme */
}

.h2--vans{
  /* Vans */

/*position: absolute;
width: 51.83px;
height: 22.92px;
left: 470.51px;
top: 45.12px;*/

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 143% */
text-align: right;
color: #4D4D4D;
align-self: center;



}

.home--main {
    width: 548px;;
    height: 386.7px;
    top: 111.62px;
    gap: 0px;
    opacity: 0px;  
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    background-image: url("./images/homepage_pic.png"); /* Add your image path */
    background-size: cover; /* Ensures the image covers the entire container */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center; /* Centers the image */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    
    
  
}

.home--main h1{
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 494.33px;
  height: 84px;  
  opacity: 0px;
  color: #FFFFFF;
  margin: 66px 27px 50px 27px;
  padding:0px;



}



.home--main p{
  width: 494.33px;
  height: 48px;  
  margin: 0px 27px 51px 27px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;


}

.homeLinkButton{
  width: 494.33px;
  height: 49.83px;
  top: 383.7px;
  left: 26.91px;
  gap: 0px;
  border-radius: 5px;
  opacity: 0px;
  background-color:  #FF8C38;
  border: none;
  font-family: Inter;
  font-size: 15.95px;
  font-weight: 700;
  line-height: 31.66px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;

}

.footer{
  background: #252525;
  width: 548px;
  height: 74.75px;
  top: 498.32px;  
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.92px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #AAAAAA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center ;
  margin-bottom: 0%;
}


.about--img{
  width: 548.15px;
  height: 533.21px;
  top: 111.62px;
  gap: 0px;
  opacity: 0px;

}

.about---div{
  background-color: #FFF7ED;
  width: 548.15px;
  height: 1035.51px;
  top: 480.14px;
  left: 926.19px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.about--main{
  background-color: #FFCC8D;
  width: 494px;
  height: 198px;
  top: 710px;
  margin: 55px 32px ;
  gap: 0px;
  border-radius: 5px ;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding-left: 31px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #161616;

}

.link--button {
  width: 174px;
  height: 49px;
  top: 827px;
  left: 65.02px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  background-color: #161616;
  
  margin-bottom: 32px;
  

}



.about--h1{
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 55px;
  width: 494.33px;
  height: 76px;
  top: 393.67px;
  left: 26.91px;
  gap: 0px;
  opacity: 0px;

  

}

.about--p{
width: 494px;
height: 154px;
top: 501px;
left: 27.02px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 22px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #161616;
margin-top: 31px;

}