


.navbar {
  width: 548px;
  height: 112px;
  padding: 36px 25.82px 34.62px 26px;
  gap: 0px;
  opacity: 0px;
  background-color: #FFF7ED;
  display: flex;
  flex-direction: row;  
  align-items:flex-start;
  color: #000000;
  justify-content: space-between;
  
  }
  


.navbar--h2{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  color: #000000;
  
  
}

.h2--about{
  /* About */

position: absolute;
width: 51.83px;
height: 22.92px;
left: 405.73px;
top: 45.12px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 143% */
text-align: right;
text-decoration-line: underline;
color: #161616;




 
  
}
.navbar--h1{
  align-self: flex-start;
  font-family: Inter;
  font-size: 25px;
  font-weight: 900;
  line-height: 40.27px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #000000;
  width: 144.51px;
  height: 41px;
  top: 36px;
  left: 26px;
  gap: 0px;
  opacity: 0px;

  
 
}

.navbar a {
  text-decoration: none;
  color: inherit; /* Keeps the text color consistent with the theme */
}

.h2--vans{
  /* Vans */

position: absolute;
width: 51.83px;
height: 22.92px;
left: 470.51px;
top: 45.12px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 143% */
text-align: right;

color: #4D4D4D;


}

.home{
  body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    background-image: url('./images/aboutPage_pic.png'); /* Add your image path */
    background-size: cover; /* Ensures the image covers the entire container */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center; /* Centers the image */
  }
  
}